#!/bin/bash

SERVER_CA=$(cat {{ openvpn_dir }}/ca.crt)
USER_CRT=$(cat {{ user_config_dir }}/{{ user_req_name }}.crt)
USER_KEY=$(cat {{ user_config_dir }}/{{ user_req_name }}.key)
TLS_AUTH=$(cat {{ openvpn_dir }}/ta.key)

cat <<EOF > {{ user_config_dir }}/{{ user_req_name }}.conf
client
remote {{ vpn_server_ip }}
port {{ vpn_server_port }}
dev tun
proto udp
resolv-retry infinite
nobind
persist-key
persist-tun
remote-cert-tls server
cipher AES-256-CBC
key-direction 1
verb 3
<ca>
$SERVER_CA
</ca>
<cert>
$USER_CRT
</cert>
<key>
$USER_KEY
</key>
<tls-auth>
$TLS_AUTH
</tls-auth>
EOF
