port {{ vpn_server_port }}

proto udp
;proto tcp

;dev tap
dev tun

ca {{ openvpn_dir }}/ca.crt
cert {{ openvpn_dir }}/{{ server_req_name }}.crt
key {{ openvpn_dir }}/{{ server_req_name }}.key

dh {{ openvpn_dir }}/dh2048.pem

server 10.8.0.0 255.255.255.0

ifconfig-pool-persist ipp.txt

push "redirect-gateway def1 bypass-dhcp"

keepalive 10 120

remote-cert-tls client
tls-auth {{ openvpn_dir }}/ta.key 0

cipher AES-256-CBC

;compress lz4-v2
;push "compress lz4-v2"
;max-clients 100
;user nobody
;group nobody

persist-key
persist-tun

status openvpn-status.log

;log         openvpn.log
;log-append  openvpn.log
verb 4

explicit-exit-notify 1
