disable_cache = true
disable_mlock = true
ui = true

listener "tcp" {
  address          = "0.0.0.0:8200"
  cluster_address  = "{{ ansible_eth1.ipv4.address }}:8201"
  tls_disable      = "{{ DEV_MODE }}"

}

storage "postgresql" {
  connection_url = "postgresql://user:pw@192.168.1.203:5432/secrets?sslmode=disable"
}
