data_directory = '/var/lib/postgresql/11/main'
hba_file = '/etc/postgresql/11/main/pg_hba.conf'
ident_file = '/etc/postgresql/11/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/11-main.pid'

listen_addresses = '{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}'
port = 5432
max_connections = 100
unix_socket_directories = '/var/run/postgresql'	#

shared_buffers = 128MB
dynamic_shared_memory_type = posix

{% if inventory_hostname in 'master' %}
wal_level = hot_standby
synchronous_commit = local
max_wal_size = 1GB
min_wal_size = 80MB
max_wal_senders = 9
wal_keep_segments = 32
max_replication_slots = 4
archive_mode = on
archive_command = 'cp %p {{ ARCHIVE_DIR }}%f'

{% endif %}
synchronous_standby_names = 'pgslave001'
hot_standby = on
log_timezone = 'Etc/UTC'
cluster_name = '11/main'
datestyle = 'iso, mdy'
timezone = 'Etc/UTC'

lc_messages = 'C.UTF-8'
lc_monetary = 'C.UTF-8'
lc_numeric = 'C.UTF-8'
lc_time = 'C.UTF-8'
default_text_search_config = 'pg_catalog.english'