#!/bin/bash

declare -a MEGA_FLAGS
declare -a CONTAINERS_TO_BACK
declare -a STORE_CONTAINER_FLAGS
declare -a INSPECT_FLAGS

CONTAINERS_TO_BACK=(
{% for item in CONTAINER_NAMES %}
  '{{ item.name }}'
{% endfor %})
MEGA_FLAGS=( -u "{{ MEGA_USER }}" -p "{{ MEGA_PASSWORD }}" )
STORE_CONTAINER_FLAGS=( --rm --name store_backup --volumes-from )
{% raw %} INSPECT_FLAGS=( --format='{{range .Mounts}}{{.Destination}}{{end}}' ) {% endraw %}

readonly STORE_CONTAINER_FLAGS
readonly CONTAINERS_TO_BACK
readonly MEGA_FLAGS
readonly INSPECT_FLAGS

check_dirs() {
  [[ $(megals --reload "${MEGA_FLAGS[@]}" | grep /Root/backups) ]] &&: || megamkdir "${MEGA_FLAGS[@]}" /Root/backups
}

check_dirs

for container in "$CONTAINERS_TO_BACK";do
  VOLUME_DEST=$(docker inspect "${INSPECT_FLAGS[@]}" "$container")
  docker run "${STORE_CONTAINER_FLAGS[@]}" $container -v restore_volume:/backup ubuntu tar czf /backup/back.tar.gz "$VOLUME_DEST"
done
