#!/bin/bash

############################
# Simple script to backup  #
# docker container and     #
# path inside it           #
############################

# Declare some constants
DATE=$(date +%F-%R:%S)
# Declare MEGA_FLAGS massive with credentials
# Which storedd in creds.yml in ansible as encrypted value
declare -a MEGA_FLAGS
declare -a INSPECT_FLAGS
declare -a INSPECT_FLAGS_SRC
declare -a PBZ_FLAGS
declare -a CONTAINERS_TO_BACK
MEGA_FLAGS=( -u "{{ MEGA_USER }}" -p "{{ MEGA_PASSWORD }}" )
{% raw %} INSPECT_FLAGS=( --format='{{range .Mounts}}{{.Destination}}{{end}}' ) {% endraw %}
{% raw %} INSPECT_FLAGS_SRC=( --format='{{range .Mounts}}{{.Source}}{{end}}' ) {% endraw %}

PBZ_FLAGS=( --use-compress-prog=pbzip2 )
CONTAINERS_TO_BACK=(
{% for item in CONTAINER_NAMES %}
  '{{ item.name }}'
{% endfor %})

readonly MEGA_FLAGS
readonly INSPECT_FLAGS
readonly INSPECT_FLAGS_SRC
readonly CONTAINERS_TO_BACK

check_dirs() {
  [[ $(megals --reload "${MEGA_FLAGS[@]}" | grep /Root/backups) ]] &&: || megamkdir "${MEGA_FLAGS[@]}" /Root/backups
}

copy_volumes_tgz() {
  local CONTAINER_NAME="$1"
  VOLUME_NAME=$(docker inspect "${INSPECT_FLAGS[@]}" "$CONTAINER_NAME")
  echo "copying $CONTAINER_NAME and volume $VOLUME_NAME"
  docker cp --archive "$CONTAINER_NAME:$VOLUME_NAME" .
  TAR_NAME="$CONTAINER_NAME-backup.tar.gz"
  tar czf $TAR_NAME "./$VOLUME_NAME"
  megamkdir "${MEGA_FLAGS[@]}" "/Root/backups/$CONTAINER_NAME-$DATE"
  megaput "${MEGA_FLAGS[@]}" "$TAR_NAME" --path "/Root/backups/$CONTAINER_NAME-$DATE"
}

copy_volumes_pbz() {
  local CONTAINER_NAME="$1"
  VOLUME_NAME=$(docker inspect "${INSPECT_FLAGS[@]}" "$CONTAINER_NAME")
  echo "copying $CONTAINER_NAME and volume $VOLUME_NAME"
  docker cp --archive "$CONTAINER_NAME:$VOLUME_NAME" .
  TAR_NAME="$CONTAINER_NAME-backup.tar.bz2"
  tar cf $TAR_NAME "{$PBZ_FLAGS[@]}" "./$VOLUME_NAME"
  megamkdir "${MEGA_FLAGS[@]}" "/Root/backups/$CONTAINER_NAME-$DATE"
  megaput "${MEGA_FLAGS[@]}" "$TAR_NAME" --path "/Root/backups/$CONTAINER_NAME-$DATE"
}

test_add_data() {
  local CONTAINER_NAME="$1"
  VOLUME_NAME=$(docker inspect "${INSPECT_FLAGS_SRC[@]}" "$CONTAINER_NAME")
  cd "$VOLUME_NAME"
  megaget "${MEGA_FLAGS[@]}" /Root/some_data/my_big_file
}

clear_space() {
  rm -rf  "$TAR_NAME"
  rm -rf "./$VOLUME_NAME"
}

check_dirs

for container in ${CONTAINERS_TO_BACK[@]};do
 # test_add_data "$container"
  copy_volumes_pbz $container
  clear_space
done
