---
client:
  hosts:
    - {{ COORDINATOR_IP }}:9200
  timeout: 30
  use_ssl: True
  username: "{{ CURATOR_USERNAME }}"
  password: "{{ CURATOR_PASSWORD }}"
  ssl_no_validate: True
  certificate: /etc/elasticsearch/RootCA.pem
  client_cert: /etc/elasticsearch/{{ CURATOR_HOSTNAME }}.pem
  client_key: /etc/elasticsearch/{{ CURATOR_HOSTNAME }}.key

logging:
  logformat: default
