---
############################ Opendistro main configuratuion ############################

cluster.name: odfe-cluster
node.name: "{{ inventory_hostname }}"
{% if 'opendistro-elastic-masters' in group_names  %}
node.master: true
node.data: false
node.ingest: false
{% elif 'opendistro-elastic-data' in group_names %}
node.master: false
node.data: true
node.ingest: false
{% elif 'opendistro-elastic-coordinator' in group_names %}
node.master: false
node.data: false
node.ingest: false
{% endif %}
{% if 'opendistro-elastic-data' in group_names %}
path.data: /var/elasticsearch
{% else %}
path.data: /usr/share/elasticsearch/data
{% endif %}
path.logs: /var/log/elasticsearch
network.host: ["127.0.0.1","{{ ansible_host }}"]
http.port: 9200
discovery.seed_hosts: [{% for node in groups['opendistro-elastic'] %}"{{ hostvars[node]['ansible_host'] }}"{% if not loop.last %},{% endif %}{% endfor %}]
cluster.initial_master_nodes: [{% for node in groups['opendistro-elastic-masters'] %}"{{ hostvars[node]['ansible_host'] }}"{% if not loop.last %},{% endif %}{% endfor %}]

############################ Opendistro security plugin configuratuion ############################

opendistro_security.audit.config.log4j.logger_name: auditlogger
opendistro_security.audit.config.log4j.level: DEBUG
opendistro_security.ssl.transport.pemcert_filepath: "{{ inventory_hostname }}.pem"
opendistro_security.ssl.transport.pemkey_filepath: "{{ inventory_hostname }}.key"
opendistro_security.ssl.transport.pemtrustedcas_filepath: RootCA.pem
opendistro_security.ssl.transport.enforce_hostname_verification: false
opendistro_security.ssl.http.enabled: true
opendistro_security.ssl.http.pemcert_filepath: admin.pem
opendistro_security.ssl.http.pemkey_filepath: admin-key.pem
opendistro_security.ssl.http.pemtrustedcas_filepath: RootCA.pem
opendistro_security.allow_default_init_securityindex: true
opendistro_security.authcz.admin_dn:
    - "CN=ADMIN,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU"
opendistro_security.nodes_dn:
    - 'CN=srv01-odm01,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'
    - 'CN=srv01-odm02,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'
    - 'CN=srv01-odm03,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'
    - 'CN=srv01-oddata01,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'
    - 'CN=srv01-oddata02,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'
    - 'CN=srv01-odc01,OU=infra,O=medlinx,L=SPB,ST=SPB,C=RU'

opendistro_security.audit.type: internal_elasticsearch
opendistro_security.enable_snapshot_restore_privilege: true
opendistro_security.check_snapshot_restore_write_privileges: true
opendistro_security.restapi.roles_enabled: ["all_access", "security_rest_api_access"]
cluster.routing.allocation.disk.threshold_enabled: false
