---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# Define your internal users here

admin:
  hash: "{{ ADMIN_USER_HASH }}"
  reserved: true
  backend_roles:
  - "admin"
  description: "admin user"

kibanaserver:
  hash: "{{ KIBANASERVER_USER_HASH }}"
  reserved: true
  description: "kibanaserver user"

curator:
  hash: "{{ CURATOR_USER_HASH }}"
  reserved: true
  description: "user for curator usage"
